{% extends "base.html" %}
    {% block head %}
        <title>busybici</title>
    {% endblock%}

    {% block body %}

        <h1>about</h1>
          <p>
          busybici is a web app tracking New York City's bike share program. It regularly scans Citi Bike's published data, stores it, crunches it, and displays it in charts to users who are curious about the underlying trends.
          </p>


          <h2>about the data</h2>
            <p>
            The data used by busybici is available to the public, published by Citi Bike at <a href="http://www.citibikenyc.com/stations/json">http://www.citibikenyc.com/stations/json</a>. This data set provides a profile of each station: name, address, total docks, and other tidbits. It is frequently updated with status information: available bikes, available docks, and whether a station is in service.
            </p>
            <p>
            Citi Bike also displays daily ridership stats on <a href="http://www.datawrapper.de/something">http://www.datawrapper.de/something</a> (raw data available <a href ="http://www.datawrapper.de">here</a>). busybici does not collect or use this data set at the moment, but stay tuned!
            </p>

          <h2>technical details and acknowledgements</h2>
            <p>
            busybici is written in Python and hosted on Google App Engine. The charts are made with the Google Charts API and The entire project is available on GitHub, at <a href="www.github.com">http://www.github.com</a>.
            </p>
            <p>
            I made this app atop open source software and frameworks, while availing myself of free online learning resources. My thanks to <a href="http://www.codecademy.com">Codecademy</a>, <a href="http://www.udacity.com">Udacity</a>, and the community at <a href="http://www.stackoverflow.com">StackOverflow</a>. This app was also beautified thanks to additional open resources, including <a href="http://twitter.github.io">Twitter Bootstrap</a> and <a href="http://www.colourlovers.com">ColourLovers</a>, where I found the lovely <a href="http://www.colourlovers.com/palette/1930/cheer_up_emo_kid">color palette</a> used here.
            </p>
            <p>
            An extra special thanks to <a href="http://mrjon.es">mrjon.es</a> for his moral and technical support from very early on. It wasn't a foregone conclusion that busybici would ever be worth showing off, but look at it now! 
            </p>

          <h2>about the maker</h2>
          <p>
          My name is Cristina and I wrote this app. I'm a securities analyst by profession, but that's not what you'll read about here. In early 2011, right about 2.5 years ago, I decided I wanted to learn how to program. I had taken one semester of Java in college, and suffice to say I didn't remember enough to know the difference between that and Javascript (really).
          </p>
          <p>
          So, armed with that awesome classical training and the desire to make a simple web scraper, I decided to learn Python. I poked around on the internet until I had the basic resources, and broke my task down into minute parts. One at a time, I learned how to do each by reading the documentation, Googling for examples, and reading the threads on StackOverflow.
          </p>
          <p>
          Fast forward one year, and by then had a couple of simple web scraping and document searching scripts made. They worked, and I used them from time to time, but they were pretty clunky still. More so toys rather than tools, more Fisher-Price rather than Ford. I still wanted to make a real car--I mean a real program, that people could actually use.
          </p>
          <p>
          It was also around that time that Udacity was getting off the ground, with courses like CS101: Intro to Programming and CS303: Self-Driving Cars in particular getting a lot of press. It seemed logical to sign up for a real introductory computer programming class like CS101. But instead I signed up the advanced class on self-driving cars. LOL.
          </p>
          <p>
          I might have made it through Lesson 4 of 6 in that class. But I learned so much new fancy stuff, like how to deal with arrays and make functions and stuff! It just made me all the more amazed that I had been able to make *anything* at all before. My first little apps, laughable as I'm sure they were, were actually quite impressive, in the way a house built entirely out of popsicle sticks would be. I was energized and ready for another course... 
          </p>
          <p>
          As luck would have it, Udacity was launching CS253: Webapps. Taught by Steve Huffman (co-founder of Reddit and founder of Hipmunk), it was intermediate-level. This was how I learned about Google App Engine, the App Engine Datastore, and Jinja2--all of which are I also use for busybici here. I managed to finish that course and I have the certificate to prove it. :)
          </p>
          <p>
          Next up: Codecademy had launched Code Year for 2012. I didn't keep up with the schedule, especially while I focused on Udacity's six-week CS253 class, but I completed a lot of the coursework. Codecademy was where I learned Javascript, HTML, CSS, and where I found out about Twitter's Bootstrap (also in use on busybici). I didn't bother with Python, which let's face it, is my expertiiiise.
          </p>


    {% endblock %}
</html>
