{% extends "base.html" %}
    {% block head %}
        <title>busybici</title>
    {% endblock%}

    {% block body %}
        <h1>about</h1>
	        <div class="row">
		        <div class="col-md-4">
			        <h3>why busybici exists</h3>
			        <p>
			        	In the summer of 2013, with great enthusiasm I began to use New York City's then-new bike share program for my commute to work. My favorite station was almost always empty, and I found myself fiddling with the mobile app provided to check how many bikes were there before walking over. Most mornings it was depleted, but occassionally I found it freshly refilled, seemingly arbitrarily.
			        </p>
			        <p>
			        	Since I had been learning how to program, I wondered if I could make a little web app that would show me how the volume of available bikes at this station changed over the course of the day or week. But why stop there? Track <i>all the stations</i>, and better yet, send it to my phone on weekday mornings as I'm about to step out.
			        </p>
		        </div> <!--/col-md-4-->
		        <div class="col-md-4">
			        <h3>sharing busybici</h3>
			        <p>
			        	busybici doesn't support bike share programs from other cities, but it could! That's why I've shared the project on <a href="#">GitHub</a>. If busybici or any of its components find their way to another city or country, just send me a postcard, ok? 
			        </p>
		        </div> <!--/col-md-4-->
		        <div class="col-md-4">
			        <h3>Contact</h3>
		    	    <p>
		    	    	Questions? Problems with the site? Bold new ideas? Let's hear it! Send them to hello@busybici.com.
		    	    </p>
		        </div> <!--/col-md-4-->
	        </div> <!--/row-->

    {% endblock %}
</html>
