{% extends "base.html" %}
    {% block head %}
        <!--deactivate link to CSS for now-->
        <!--<link rel="stylesheet" type="text/css" href="/static/stylesheets/alerts.css"/>-->

        <!--playing around with the google maps plug-in-->
        <style>
        	.error-msg {
        		color: red;
        		font-weight: normal;
        	}

        	.title {
        		font-weight: normal;
        	}

        	#map_canvas {
        		position: absolute;
        		display: inline;
        		width: 40%;
        		height: 60%;
        	}

        	#form-div {
        		width: 50%;
        		display: inline-table;
        	}

        </style>
        <title>busybici: alerts</title>
    {% endblock%}

    {% block body %}
        <h1>alerts</h1>
          <p>
          Sign up for scheduled updates on your favorite Citibike stations. You will receive a confirmation request over email before any alerts are distributed.
          </p>
          <div id="form-div">
          <form class="form-horizontal" role="form" action="/alerts" method="post">
          	<table class="table">
	          	<tr>
	          		<td>
						<label class="title" for="email">email:</label>
					</td>
					<td>
					<input type="email" class="form-control" name="email" placeholder="required" value="{{email}}">
					<label class="error-msg">{{email_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="title" for="alert_type">alert type:</label>
					</td>
					<td>
						<select class="form-control" id="alert_type" name="alert_type">
							<option value=email {{email_sel}}>email</option>
							<option value=textmsg {{text_sel}}>text message</option>
							<option value=both {{both_sel}}>email and text</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label class="title" for="phone">phone:</label>
					</td>
					<td>
						<input type="tel" class="form-control" name="phone" value="{{phone}}">
						<label class="error-msg">{{phone_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="title" for="carrier">carrier:</label>
					</td>
					<td>
						<select class="form-control" id="carrier" name="carrier">
						<option value=''></option>
							{% for c in carriers_list %}
								{% set sel="" %}
								{% if c == carrier %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{c}} {{sel}}>{{c}}</option>
							{% endfor %}
						</select>
						<label class="error-msg">{{carrier_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="title" >starting stations</label>
					</td>
					<td>
						<select class="form-control" name="start1">
							<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == start1|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>

						<select class="form-control"  name="start2">
							<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == start2|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>

						<select class="form-control"  id="start3_dropdown" name="start3">
							<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == start3|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>
						<label class="error-msg">{{start1_error}}</label>
						<label class="error-msg">{{start2_error}}</label>
						<label class="error-msg">{{start3_error}}</label>
					</td>
				</tr>
					<td>
						<label class="title" >ending stations</label>
					</td>
					<td>
						<select class="form-control"  name="end1">
							<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == end1|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>
						
						<select class="form-control"  name="end2">
							<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == end2|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>

						<select class="form-control"  name="end3">
							<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == end3|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>
						<label class="error-msg">{{end1_error}}</label>
						<label class="error-msg">{{end2_error}}</label>
						<label class="error-msg">{{end3_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="title">days to send alert:</label>
					</td>
					<td>
						<div class="checkbox">
							<label>
								{% if "0" in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="su" value="0" {{checked}}> Sunday  
							</label>
							<label>
								{% if '1' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="mo" value="1" {{checked}}> Monday  
							</label>
							<label>
								{% if '2' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="tu" value="2" {{checked}}> Tuesday  
							</label>
							<label>
								{% if '3' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="we" value="3" {{checked}}> Wednesday  
							</label>
							<label>
								{% if '4' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="th" value="4" {{checked}}> Thursday  
							</label>
							<label>
								{% if '5' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="fr" value="5" {{checked}}> Friday  
							</label>
							<label>
								{% if '6' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="sa" value="6" {{checked}}> Saturday  
							</label>
							<label class="error-msg">{{days_error}}</label>
						</div>
					</td>
				</tr>
				<tr>
	          		<td>
						<label class="title" for="time">time:</label>
					</td>
					<td>
					<input type="time" class="form-control" name="time" value="{{time}}">
					<label class="error-msg">{{time_error}}</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Submit">
					</td>
				</tr>
			</table>
		</form>
		</div>
		<div id="map_canvas"></div>
		

		<!--Javascript-->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
        
		<script type="text/javascript">

			var map = new google.maps.Map(document.getElementById('map_canvas'), {
				zoom: 12,
				center: new google.maps.LatLng(40.729063, -73.984344),
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});

			var infowindow = new google.maps.InfoWindow();

			var locations = {{stations_map|safe}}

        	var marker, i;

        	for (i = 0; i < locations.length; i++) {
        		marker = new google.maps.Marker({
        			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        			map: map
        		});

        		google.maps.event.addListener(marker, 'click', (function(marker, i) {
        			return function() {
        				infowindow.setContent(locations[i][0]);
        				infowindow.open(map, marker);
        			}
        		})(marker, i));
        	}

        	// JQuery
			$('#show_map').click(function(){
					$('#map_canvas').toggle();
			        var center = map.getCenter();
			        google.maps.event.trigger(map, "resize");
			        map.setCenter(center);
			    });

		</script>

    {% endblock %}

