{% extends "base.html" %}
    {% block head %}
        <!--CSS-->
        <!--<link rel="stylesheet" type="text/css" href="/static/stylesheets/alerts.css"/>-->
        <title>busybici: alerts</title>
    {% endblock%}

    {% block body %}
        <h1>alerts</h1>
          <p>
          Sign up for scheduled updates on your favorite Citibike stations. You will receive a confirmation request over email before any alerts are distributed. </p>
          <p>
          Fields required except where noted otherwise.
          </p>
          <form class="form-inline" role="form" action="/alerts" method="post">
          	<table class="table">
	          	<tr>
	          		<td>
						<label for="email">email:</label>
					</td>
					<td>
					<input type="email" class="form-control" name="email" placeholder="required" value="{{email}}">
					<label style="color: red;">{{email_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="alert_type">alert type:</label>
					</td>
					<td>
						<select class="form-control" id="alert_type" name="alert_type">
							<option value=email {{email_sel}}>email</option>
							<option value=textmsg {{text_sel}}>text message</option>
							<option value=both {{both_sel}}>email and text</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="phone">phone:</label>
					</td>
					<td>
						<input type="tel" class="form-control" name="phone" value="{{phone}}">
						<label style="color: red;">{{phone_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="carrier">carrier:</label>
					</td>
					<td>
						<select id="carrier" name="carrier">
						<option value=''></option>
							{% for c in carriers_list %}
								{% set sel="" %}
								{% if c == carrier %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{c}} {{sel}}>{{c}}</option>
							{% endfor %}
						</select>
						<label style="color: red;">{{carrier_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>starting stations</label>
					</td>
					<td>
						<select name="start1">
						<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == start1|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>

						<select name="start2">
						<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == start2|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>

						<select id="start3_dropdown" name="start3">
						<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == start3|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>
						<label style="color: red;">{{start1_error}}</label>
						<label style="color: red;">{{start2_error}}</label>
						<label style="color: red;">{{start3_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>ending stations</label>
					</td>
					<td>
						<select name="end1">
						<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == end1|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>
						
						<select name="end2">
						<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == end2|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>

						<select name="end3">
						<option value=''></option>
							{% for id, name in stations_dict.iteritems() %}
								{% set sel="" %}
								{% if id == end3|int %}
									{% set sel="selected" %}
								{% endif %}
								<option value={{id}} {{sel}}>{{name}}</option>
							{% endfor %}
						</select>
						<label style="color: red;">{{end1_error}}</label>
						<label style="color: red;">{{end2_error}}</label>
						<label style="color: red;">{{end3_error}}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>days to send alert:</label>
					</td>
					<td>
						<div class="checkbox">
							<label>
								{% if "0" in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="su" value="0" {{checked}}>Sunday
							</label>
							<label>
								{% if '1' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="mo" value="1" {{checked}}>Monday
							</label>
							<label>
								{% if '2' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="tu" value="2" {{checked}}>Tuesday
							</label>
							<label>
								{% if '3' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="we" value="3" {{checked}}>Wednesday
							</label>
							<label>
								{% if '4' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="th" value="4" {{checked}}>Thursday
							</label>
							<label>
								{% if '5' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="fr" value="5" {{checked}}>Friday
							</label>
							<label>
								{% if '6' in days %}
									{% set checked="checked" %}
								{% else %}
									{% set checked="" %}
								{% endif %}
								<input type="checkbox" name="sa" value="6" {{checked}}>Saturday
							</label>
							<label style="color: red;">{{days_error}}</label>
						</div>
					</td>
				</tr>
				<tr>
	          		<td>
						<label for="time">time:</label>
					</td>
					<td>
					<input type="time" class="form-control" name="time" value="{{time}}">
					<label style="color: red;">{{time_error}}</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Submit">
					</td>
				</tr>
			</table>
		</form>
    {% endblock %}

