<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		{% endblock %}
	</head>

	<body>
		<div class="header">
			{% block header %}
			<p><a href="/" id='title'>cristinaquis</a></p>
			<ul class = "header">
				<li><a href="/">bike share</a></li>
				<li><a href="show">show station data</a></li>
				<li><a href="errors">station error checker</a></li>
				<li><a href="totals">total bikes and docks</a></li>
				<li><a href="history">station history</a></li>
			</ul>
			<hr>
			{% endblock %}
		</div>
		{% block body %}
		{% endblock %}
		<div class="footer">
			{% block footer %}
			&copy; Copyright 2013 by a cristinaquis.
			{% endblock %}
		</div>
	</body>
</html>
