{% extends "base.html" %}
    {% block head %}
        <title>busybici</title>
    {% endblock%}

    {% block body %}
        <h1>alert canceled</h1>
          <p>
          You will no longer receive the following alert:
          </p>
          email: {{email}} <br>
          phone: {{phone}}<br>
          carrier: {{carrier}}<br>
          starting station: {{start1}}<br>
          starting station, 2nd choice: {{start2}}<br>
          starting station, 3rd choice: {{start3}}<br>
          ending station: {{end1}}<br>
          ending station, 2nd choice: {{end2}}<br>
          ending station, 3rd choice: {{end3}}<br>
          days: {{days}}<br>
          time: {{time}}<br>
          id: {{alert_id}}<br><br>

         <p>
         Please allow a day for the cancellation to go into effect.
         </p>
         <p>
         To restore this alert, click <a href='/delete/{{alert_id}}'>here</a>.
         </p>
         
    {% endblock %}
</html>
