{% extends "base.html" %}
  {% block head %}
    <!--CSS-->
      <style>
      .title {
        color: #C44D58;
        font-size: 14px;
        cursor: default;
      }

      .row-fluid {
        padding: 2px;
        height: 21px;
        text-align: left;
        vertical-align: top;
      }

      .span12 {
        margin-left: 0px;
      }

      </style>
      <title>busybici</title>
  {% endblock%}

  {% block body %}
      <h1>alert canceled</h1>
        <p>
        You will no longer receive the following alert:
        </p>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
                <label class="title">email:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{email}}
              </div><!--/span-->
            </div><!--/row-->
            <div class="row">
              <div class="col-md-2">
                <label class="title">phone:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{phone}}
              </div><!--/span-->
            </div><!--/row-->
            <div class="row">
              <div class="col-md-2">
                <label class="title">carrier:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{carrier}}
              </div><!--/span-->
            </div><!--/row-->
            <div class="row">
              <div class="col-md-2">
                <label class="title">starting stations:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{start_names}}
              </div><!--/span-->
            </div><!--/row-->
            <div class="row">
              <div class="col-md-2">
                <label class="title">ending stations:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{end_names}}
              </div><!--/span-->
            </div><!--/row-->
            <div class="row">
              <div class="col-md-2">
                <label class="title">days:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{days}}
              </div><!--/span-->
            </div><!--/row-->
            <div class="row">
              <div class="col-md-2">
                <label class="title">time:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{time}}
              </div><!--/span-->
            </div><!--/row-->
            <div class="row">
              <div class="col-md-2">
                <label class="title">id:</label>
              </div><!--/span-->
              <div class="col-md-4">
                {{alert_id}}
              </div><!--/span-->
            </div><!--/row-->
          </div><!--/container-->
       <div>
       Please allow a day for the alert to be disabled.
       To restore this alert, click <a href='/confirm/{{alert_id}}'>here</a>.
       </div>
       <br>
  {% endblock %}
</html>
