{% extends "base.html" %}
    {% block head %}
        <title>bike share app</title>
    {% endblock %}
	
    {%block body%}
        <h1>bike share errors</h1>
            <p>NYC bike share provides data on each station's available bikes, availalble docks, and total docks. If all is working well, then available bikes + available docks should equal zero, 0.</p>
            <p>{{last_update_msg}}</p>
	    <hr>
	    <div id="chart_div"></div>

        <!-- JavaScript -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
        
          // Load the Visualization API and the piechart package.
          google.load('visualization', '1.0', {'packages':['corechart']});
          
          // Set a callback to run when the Google Visualization API is loaded.
          google.setOnLoadCallback(drawChart);

          // Callback that creates and populates a data table, 
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawChart() {

          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Station');
          data.addColumn('number', 'Docks out of order?');
          {% for d in data_set%}
          data.addRows([[ {{d[0]|safe}}, {{d[1]}} ]])
          {% endfor %}

          // Set chart options
          var options = {
            title:'Potential docks out of order',
            colors: ['#4ECDC4', '#FF6B6B', '#556270', '#C7F464', '#C44D58'], 
            width:1000,
            height:500,
          };
          // color palette: "cheer up emo kid" by electrikmonk at ColourLovers
          // available at http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
          
          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
        </script>
    {% endblock %}
