{% extends "base.html" %}
    {% block head %}
    <!--CSS-->
    <style>
        #chart_div {
            height: 500px;
            animation: fadein 0.5s;
            -moz-animation: fadein 0.5s; /* Firefox */
            -webkit-animation: fadein 0.5s; /* Safari and Chrome */
            -o-animation: fadein 0.5s; /* Opera */
            }

        .load_text{
            height: 40px;
            text-align:center;
            }

        #load_text1 {
            color: #4ECDC4;
            animation: fadeout 0.5s;
            -moz-animation: fadeout 0.5s; /* Firefox */
            -webkit-animation: fadeout 0.5s; /* Safari and Chrome */
            -o-animation: fadeout 0.5s; /* Opera */
            }

        #load_text2 {
            color: #FF6B6B;
            animation: fadeout 1s;
            -moz-animation: fadeout 1s; /* Firefox */
            -webkit-animation: fadeout 1s; /* Safari and Chrome */
            -o-animation: fadeout 1s; /* Opera */
            }

        #load_text3 {
            color: #C44D58;
            animation: fadeout 2s;
            -moz-animation: fadeout 2s; /* Firefox */
            -webkit-animation: fadeout 2s; /* Safari and Chrome */
            -o-animation: fadeout 2s; /* Opera */
            }

        @keyframes fadein {
            from {opacity:0}
            to {opacity:1;}
            }

            @-moz-keyframes fadein { /* Firefox */
                from {opacity:0;}
                to {opacity:1;}
                }

            @-webkit-keyframes fadein { /* Safari and Chrome */
                from {opacity:0;}
                to {opacity:1;}
                }

            @-o-keyframes fadein { /* Opera */
                from {opacity:0;}
                to {opacity:1;}
                }​

        @keyframes fadeout {
            from {opacity:1;}
            to {opacity:0;}
            }

            @-moz-keyframes fadeout { /* Firefox */
                from {opacity:1;}
                to {opacity:0;}
                }

            @-webkit-keyframes fadeout { /* Safari and Chrome */
                from {opacity:1;}
                to {opacity:0;}
                }

            @-o-keyframes fadeout { /* Opera */
                from {opacity:1;}
                to {opacity: 0;}
                }

        .ui-autocomplete {
            list-style-type: none;
            background-color: white;
            width: 220px;
            vertical-align: middle;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;

        }

        .ui-helper-hidden-accessible {display:none;}

        #station_search {display:none;}

        input {
            display: inline-block;
            width: 240px;
            height: 20px;
            line-height: 20px;
            padding-right: 9px;
            padding-left: 5px;
            margin-bottom: 10px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #555555;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            vertical-align: middle;
        }

        #station_dropdown {
            display: inline-block;
            width: 258px;
            height: 26px;
            line-height: 20px;
            margin-bottom: 10px;
        }

        #time_dropdown {
            width: 125px;
            height: 26px;
        }
    </style>
        <title>busybici: history</title>
    {% endblock %}

    {% block body %}
        <h1>historical station data</h1>
            <p>busybici has been collecting data on NYC bike share since late June 2013. Use this page to see how each station's availability of bikes and docks has trended over time.</p>
            <form action="/history">
                <div>
                    <select id="station_dropdown" name="station_req" onchange='updateChart("select")'>
                        {% for s in stations %}
                            {% set sel="" %}
                            {% if s.station_id == station_req %}
                                {% set sel="selected" %}
                            {% endif %}
                            <option value={{s.station_id}} {{sel}}>{{s.name}}</option>
                        {% endfor %}
                    </select>
                    <input id='station_search'></input>
                    <a id='select_or_search'>select or search</a>
                </div>
                <div>
                    <select id="time_dropdown" name="time_req" onchange="updateChart()">
                        {% for t in timespans %}
                            {% set sel="" %}
                            {% if t[1] == time_req %}
                                {% set sel="selected" %}
                            {% endif %}
                            <option value={{t[1]}} {{sel}}>{{t[0]}}</option>
                        {% endfor %}
                    </select>
                <label class="checkbox">
                    <input id="bikes_checkbox" type="checkbox" name="bikes_req" value="checked" {{bikes_req}} onchange='updateChart("checkbox")'>
                    Available bikes
                </label>
                <label class="checkbox" display:inline>
                    <input id="docks_checkbox" type="checkbox" name="docks_req" value="checked" {{docks_req}} onchange='updateChart("checkbox")'>
                    Available docks
                </label>
            </form>
	    <hr>
	    <div id="chart_div">
            <h3 class="load_text" id="load_text1"><br><br><br>adjusting seat...</h3>
            <h3 class="load_text" id="load_text2"><br><br><br><br>... putting on helmet</h3>
            <h3 class="load_text" id="load_text3"><br><br><br><br><br>... and off we go!</h3>
        </div>

        <!-- JavaScript for chart -->
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <script type="text/javascript">
                var stationList = [
                    {% for s in stations %}
                        { label: "{{s.name|safe}}", value: {{s.station_id}} },
                    {% endfor %}
                    ]
            </script>
            <script type="text/javascript" src='/js/history.js'></script>


    {% endblock %}