{% extends "base.html" %}
    {% block head %}
    <!--CSS-->
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/history.css"/>
        <title>busybici: history</title>
    {% endblock %}

    {% block body %}
        <h1>historical station data</h1>
            <p>busybici has been collecting data on NYC bike share since late June 2013. Use this page to see how each station's availability of bikes and docks has trended over time.</p>
            <div>
                <select class="form-control" id="station_dropdown" name="station_req" onchange='updateChart("select")' style="width:20%">
                    {% for s in stations %}
                        {% set sel="" %}
                        {% if s.station_id == station_req %}
                            {% set sel="selected" %}
                        {% endif %}
                        <option value={{s.station_id}} {{sel}}>{{s.name}}</option>
                    {% endfor %}
                </select>
                <input class="form-control" id='station_search' style="width:20%"></input>
                <a id='select_or_search'>select or search</a>
            </div>
            <div>
                <select class="form-control" id="time_dropdown" name="time_req" onchange="updateChart()">
                    {% for t in timespans %}
                        {% set sel="" %}
                        {% if t[1] == time_req %}
                            {% set sel="selected" %}
                        {% endif %}
                        <option value={{t[1]}} {{sel}}>{{t[0]}}</option>
                    {% endfor %}
                </select>
            </div>

            <label class="title" for="bikes_checkbox">
            <input type="checkbox" id="bikes_checkbox" name="bikes_req" value="checked" {{bikes_req}} onchange='updateChart("checkbox")'>
                Available bikes
            </label>
            
            <label class="title" for="docks_checkbox">
            <input type="checkbox" id="docks_checkbox" name="docks_req" value="checked" {{docks_req}} onchange='updateChart("checkbox")'>
                Available docks
            </label>

	    <hr>
	    <div id="chart_div">
            <h3 class="load_text" id="load_text1"><br><br><br>adjusting seat...</h3>
            <h3 class="load_text" id="load_text2"><br><br><br><br>... putting on helmet</h3>
            <h3 class="load_text" id="load_text3"><br><br><br><br><br>... and off we go!</h3>
        </div>

        <!-- JavaScript for chart -->
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <script type="text/javascript">
                var stationList = [
                    {% for s in stations %}
                        { label: "{{s.name|safe}}", value: {{s.station_id}} },
                    {% endfor %}
                    ]
            </script>
            <script type="text/javascript" src='/static/js/history.js'></script>


    {% endblock %}