{% extends "base.html" %}
    {% block head %}

    <!--CSS-->
    <style>
    .row-fluid {
    	padding-bottom: 20px;
    }
    .span4 {
    	text-align:center;
    	}

    #blue {
    	color: #4ECDC4;
    	}

    #gray {
    	color:#556270;
    	}

    #orange {
    	color:#FF6B6B;
    	}

    #red {
    	color:#C44D58;
    	}

    #green {
    	color:#C7F464;
    	}

    </style>style>

        <title>busybici: superlatives</title>
    {% endblock%}

    {% block body %}

        <h1>superlatives</h1>
			<div class="span9">
				<div class="row-fluid">
					<div class="span4" id="blue">
						<h2>most trips</h2>
						<h4>{{most_trips_date}}</h4>
						<h4>{{most_trips_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="blue">
						<h2>most miles</h2>
						<h4>{{most_miles_date}}</h4>
						<h4>{{most_miles_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="blue">
						<h2>longest trips</h2>
						<h4>{{longest_trips_date}}</h4>
						<h4>{{longest_trips_amt}}</h4>
					</div><!--/span-->
				</div><!--/row-->

				<div class="row-fluid">
					<div class="span4" id="gray">
						<h2>least trips</h2>
						<h4>{{least_trips_date}}</h4>
						<h4>{{least_trips_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="gray">
						<h2>least miles</h2>
						<h4>{{least_miles_date}}</h4>
						<h4>{{least_miles_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="gray">
						<h2>shortest trips</h2>
						<h4>{{shortest_trips_date}}</h4>
						<h4>{{shortest_trips_amt}}</h4>
					</div><!--/span-->
				</div><!--/row-->

				<div class="row-fluid">
					<div class="span4" id="orange">
						<h2>most 24-hour passes</h2>
						<h4>{{most_day_passes_date}}</h4>
						<h4>{{most_day_passes_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="orange">
						<h2>most 7-day passes</h2>
						<h4>{{most_week_passes_date}}</h4>
						<h4>{{most_week_passes_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="orange">
						<h2>most member sign-ups</h2>
						<h4>{{most_member_signups_date}}</h4>
						<h4>{{most_member_signups_amt}}</h4>
					</div><!--/span-->
				</div><!--/row-->

				<div class="row-fluid">
					<div class="span4" id="red">
						<h2>least 24-hour passes</h2>
						<h4>{{least_day_passes_date}}</h4>
						<h4>{{least_day_passes_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="red">
						<h2>least 7-day passes</h2>
						<h4>{{least_week_passes_date}}</h4>
						<h4>{{least_week_passes_amt}}</h4>
					</div><!--/span-->

					<div class="span4" id="red">
						<h2>least member sign-ups</h2>
						<h4>{{least_member_signups_date}}</h4>
						<h4>{{least_member_signups_amt}}</h4>
					</div><!--/span-->
				</div><!--/row-->

				<div class="row-fluid">
					<div class="span4" id="green">
						<h2>Total members</h2>
						<h4>{{members}}</h4>
						<h4>as of {{last_update}}</h4>
					</div><!--/span-->

					<div class="span4" id="green">
						<h2>Total trips</h2>
						<h4>{{cum_trips}}</h4>
						<h4>as of {{last_update}}</h4>
					</div><!--/span-->

					<div class="span4" id="green">
						<h2>Total miles</h2>
						<h4>{{cum_miles}}</h4>
						<h4>as of {{last_update}}</h4>
					</div><!--/span-->
				</div><!--/row-->

			</div><!--/span-->


    {% endblock %}
</html>
