{% extends "base.html" %}
    {% block head %}
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/totals.css"/>
        <title>busybici: totals</title>
    {% endblock %}
    {% block body %}
        <h1>total bikes and docks</h1>
            <p>This page shows total bikes available and total docks available, and how these have changed over a recent period of time. I'm still working on making this data set more useful. One of the things I'd like to be able to do is show an estimate of the total bikes in circulation over time.</p>
                <select class="form-control" id="time_dropdown" name="time_req" onchange="updateChart()">
                    {% for t in timespans %}
                        {% set sel="" %}
                        {% if t[1] == time_req %}
                            {% set sel="selected" %}
                        {% endif %}
                        <option value={{t[1]}} {{sel}}>{{t[0]}}</option>
                    {% endfor %}
                </select>
                <label class="title" for="bikes_checkbox">
                    <input type="checkbox" id="bikes_checkbox" name="bikes_req" value="checked" {{bikes_req}} onchange="updateChart()">
                    Available bikes
                </label>
                <label class="title" for="docks_checkbox">
                    <input type="checkbox" id="docks_checkbox" name="docks_req" value="checked" {{docks_req}} onchange="updateChart()">
                    Available docks
                </label>
	    <hr>
	    <div id="chart_div">
            <h3 class="load_text" id="load_text1"><br><br><br>adjusting seat...</h3>
            <h3 class="load_text" id="load_text2"><br><br><br><br>... putting on helmet</h3>
            <h3 class="load_text" id="load_text3"><br><br><br><br><br>... and off we go!</h3>
        </div>

        <!-- JavaScript for chart-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src='/static/js/totals.js'></script>
    {% endblock %}