{% extends "base.html" %}
    {% block head %}
        <title>bike share app</title>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <script type="text/javascript">
            google.load('visualization', '1.0', {'packages':['corechart']});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = new google.visualization.DataTable();
                    data.addColumn('datetime', 'Time');
                    data.addColumn('number', 'Total bikes');
                    data.addColumn('number', 'Total docks');
                    {% for t in totals %}
                        {% set tj="new Date ("+t[0]+")" %}
                        data.addRows([[ {{tj}},{{t[1]}}, {{t[2]}} ]]);
                    {% endfor %}                                              
                var options = {
                    title:'Total bikes and docks over time',
                    width:1000,
                    height:500,
                    };
                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>
    {% endblock %}
	
    {%block body%}
        <h1>total bikes and docks</h1>
            <p>This page shows total bikes and docks over time</p>
	    <hr>
	    <div id="chart_div"></div>
    {% endblock %}
