{% extends "base.html" %}
    {% block head %}
        <title>bici vizi: totals</title>
    {% endblock %}
	
    {%block body%}
        <h1>total bikes and docks</h1>
            <p>This page shows total bikes available and total docks available, and how these have changed over a recent period of time. I'm still working on making this data set more useful. One of the things I'd like to be able to do is show an estimate of the total bikes in circulation over time.</p>
	    <hr>
	    <div id="chart_div"></div>

        <!-- JavaScript -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1.0', {'packages':['corechart']});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = new google.visualization.DataTable();
                    data.addColumn('datetime', 'Time');
                    data.addColumn('number', 'Total bikes');
                    data.addColumn('number', 'Total docks');
                    {% for t in totals %}
                        data.addRows([[ {{t[0]}},{{t[1]}}, {{t[2]}} ]]);
                    {% endfor %}                                              
                var options = {
                    colors: ['#4ECDC4', '#FF6B6B', '#556270', '#C7F464', '#C44D58'],
                    backgroundColor:{stroke:"#FFFFFF"},
                    width:1000,
                    height:500,
                    chartArea:{left:50,top:50,width:"80%",height:"80%"},
                    fontSize:14,
                    fontName:"Arial",
                    hAxis:{baselineColor:"#FFFFFF",gridlines:{color:"#FFFFFF"}},
                    vAxis:{baselineColor:"#556270",gridlines:{color:"#556270"}},
                    lineWidth:3,
                    legend: {position: 'top'},
                    };
                // color palette: "cheer up emo kid" by electrikmonk at ColourLovers
                // available at http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
                
                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>
    {% endblock %}
